In [1]:
from bs4 import BeautifulSoup

In [ ]:
# The goal of the company Gnod is to help music lovers discover new music that they will enjoy,
# by developing innovative music recommendation systems.

In [29]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

title = soup.find('h3', {'class': 'a-no-truncate'})

title_list = []
for title in titles:
    title_list.append(title.get_text(strip=True))

df = pd.DataFrame(title_list, columns=['Title'])
df

                                                 Title
0                                              Flowers
1                                       Songwriter(s):
2                                         Producer(s):
3                             Imprint/Promotion Label:
4    Miley Cyrus’ ‘Flowers’ Tops Billboard Global C...
..                                                 ...
415  A Tale of Two Chads: More Drama From Nineties ...
416                                          Follow Us
417                                        Have a Tip?
418                                          The Daily
419                                        Have a Tip?

[420 rows x 1 columns]

In [21]:
counts = df['Title'].value_counts()
filtered_df = counts[counts < 3].reset_index()
filtered_df

                  index  Title
0           Have a Tip?      2
1               Flowers      2
2             Follow Us      1
3        No Time Wasted      1
4     Everything I Love      1
..                  ...    ...
110   Until I Found You      1
111           Bad Habit      1
112  Heart Like A Truck      1
113          Sure Thing      1
114           The Daily      1

[115 rows x 2 columns]

In [35]:
# Crea una lista para almacenar las siguientes filas para cada ocurrencia del texto buscado
siguientes_filas = []

# Itera a través de las filas del dataframe
for i, fila in df.iterrows():
    # Verifica si la columna "Title" de la fila actual contiene el texto buscado
    if "Imprint/Promotion Label:" in fila["Title"]:
        # Si encuentra el texto buscado, almacena la siguiente fila en la lista "siguientes_filas"
        siguientes_filas.append(df.iloc[i + 1])

# Ahora puedes trabajar con las siguientes filas (almacenadas en "siguientes_filas"), por ejemplo, imprimir sus valores
for siguiente_fila in siguientes_filas:
    print(siguiente_fila.values)

['Miley Cyrus’ ‘Flowers’ Tops Billboard Global Charts for Sixth Week']
['Kill Bill']
["Boy's A Liar, Pt. 2"]
["Creepin'"]
['Last Night']
['Die For You']
['Unholy']
['Anti-Hero']
['Cuff It']
["I'm Good (Blue)"]
['Just Wanna Rock']
['As It Was']
['Thank God']
['Rich Flex']
['Thought You Should Know']
['Rock And A Hard Place']
['Players']
['Under The Influence']
['Calm Down']
['You Proof']
['Made You Look']
['Lavender Haze']
['Escapism']
['Going, Going, Gone']
['Superhero (Heroes & Villains)']
['Something In The Orange']
['Golden Hour']
['Sure Thing']
['Heart Like A Truck']
['Bad Habit']
['Until I Found You']
['Shirt']
['Snooze']
['Painting Pictures']
['Wait For U']
['The Kind Of Love We Make']
['I Like You (A Happier Song)']
['Love You Anyway']
['Bebe Dame']
['Bzrp Music Sessions, Vol. 53']
['Wait In The Truck']
['She Had Me At Heads Carolina']
['Dawns']
['What My World Spins Around']
['About Damn Time']
['Tomorrow 2']
['Bloody Mary']
['Nobody Gets Me']
['Hope']
['Unstoppable']
['Favorite Song']
['Lift Me Up']
["What He Didn't Do"]
['Love Again']
['Special']
['Que Vuelvas']
['Spin Bout U']
['Handle On You']
['Wild As Her']
['One Thing At A Time']
['I Wrote The Book']
['Watch This (ARIZONATEARS Pluggnb Remix)']
['Heaven']
['Freestyle']
['Low']
['Tennessee Orange']
['Next Thing You Know']
['In Ha Mood']
['No Time Wasted']
['AMG']
["You Didn't"]
['Nonsense']
['10:35']
['Lost']
['Ceilings']
['Trance']
["That's What Tequila Does"]
['Here With Me']
['PRC']
['Everything I Love']
['Forever']
['No Se Va']
['Lottery']
['The Color Violet']
['Human']
['Love You Better']
["Dancin' In The Country"]
['Hey Mor']
['OMG']
['Yandel 150']
['X Si Volvemos']
['Too Many Nights']
['Blind']
['Trustfall']
['Do It Again']
['Slut Me Out']
['La Jumpa']
['Shut Up My Moms Calling']
['Gold']
['Back End']
['Noah Cyrus Confidently Freed the Nipple in a Showstopping Mesh Look for Milan Fashion Week']

In [38]:
# Crea una lista para almacenar las siguientes filas para cada ocurrencia del texto buscado
siguientes_filas = []

# Itera a través de las filas del dataframe
for i, fila in df.iterrows():
    # Verifica si la columna "Title" de la fila actual contiene el texto buscado
    if "Imprint/Promotion Label:" in fila["Title"]:
        # Si encuentra el texto buscado, almacena la siguiente fila en la lista "siguientes_filas"
        siguientes_filas.append(df.iloc[i + 1])

# Crea el dataframe "canciones" a partir de la lista "siguientes_filas"
canciones = pd.DataFrame(siguientes_filas)

# Imprime el dataframe "canciones"
print(canciones)

                                                 Title
4    Miley Cyrus’ ‘Flowers’ Tops Billboard Global C...
11                                           Kill Bill
15                                 Boy's A Liar, Pt. 2
19                                            Creepin'
23                                          Last Night
..                                                 ...
391                                           La Jumpa
395                            Shut Up My Moms Calling
399                                               Gold
403                                           Back End
407  Noah Cyrus Confidently Freed the Nipple in a S...

[101 rows x 1 columns]

In [39]:
# Elimina la primera y la última fila del dataframe "canciones"
canciones = canciones.iloc[1:-1]

# Crea una nueva fila que contenga el texto "Flowers" y agrega esta fila al principio del dataframe "canciones"
nueva_fila = pd.DataFrame({"Title": ["Flowers"]})
canciones = pd.concat([nueva_fila, canciones], ignore_index=True)

# Imprime el dataframe "canciones" modificado
print(canciones)

                      Title
0                   Flowers
1                 Kill Bill
2       Boy's A Liar, Pt. 2
3                  Creepin'
4                Last Night
..                      ...
95              Slut Me Out
96                 La Jumpa
97  Shut Up My Moms Calling
98                     Gold
99                 Back End

[100 rows x 1 columns]

In [53]:
## Artist
url = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

artist_list = []
for span in soup.find_all("span", {"class": "a-no-trucate"}):
    artist = span.text.strip()
    artist_list.append(artist)

df = pd.DataFrame(artist_list, columns=['Artist'])
print(df)

                                  Artist
0                            Miley Cyrus
1                                    SZA
2             PinkPantheress & Ice Spice
3   Metro Boomin, The Weeknd & 21 Savage
4                          Morgan Wallen
..                                   ...
95                            NLE Choppa
96                  Arcangel & Bad Bunny
97                            Hotel Ugly
98                        Dierks Bentley
99                         Finesse2Tymes

[100 rows x 1 columns]

In [56]:
## Last_week
url = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Last_week_list = []
for span in soup.find_all("span", {"class": "a-font-primary-bold-l"}):
    Last_week = span.text.strip()
    Last_week_list.append(Last_week)

df = pd.DataFrame(Last_week_list, columns=['Last_week'])
print(df)

    Last_week
0           1
1           1
2           1
3           6
4           1
..        ...
101        96
102        97
103        98
104        99
105       100

[106 rows x 1 columns]

In [57]:
df.tail(10)

    Last_week
96         91
97         92
98         93
99         94
100        95
101        96
102        97
103        98
104        99
105       100

In [ ]:
<span class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max">
	
	2
</span>

In [102]:
url = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all li elements with class "o-chart-results-list__item"
list_items = soup.find_all('li', class_='o-chart-results-list__item')

# Iterate over each li element and find the span element with class "c-label"
# which contains the rank number
for item in list_items:
    span = item.find('span', class_='c-label')
    if span is not None:
        text = span.get_text().strip()
        print(text)

1
Miley Cyrus
1
1
6
1
1
6
2
SZA
2
2
11
2
2
11
3
PinkPantheress & Ice Spice
4
3
3
4
3
3
4
Metro Boomin, The Weeknd & 21 Savage
3
3
12
3
3
12
5
Morgan Wallen
5
3
4
5
3
4
6
The Weeknd
7
6
30
7
6
30
7
Sam Smith & Kim Petras
6
1
22
6
1
22
8
Taylor Swift
8
1
18
8
1
18
9
Beyonce
9
6
28
9
6
28
10
David Guetta & Bebe Rexha
10
4
26
10
4
26
11
Lil Uzi Vert
11
10
19
11
10
19
12
Harry Styles
12
1
47
12
1
47
13
Kane Brown With Katelyn Brown
13
13
24
13
13
24
14
Drake & 21 Savage
14
2
16
14
2
16
15
Morgan Wallen
16
12
28
16
12
28
16
Bailey Zimmerman
18
16
37
18
16
37
17
Coi Leray
22
17
8
22
17
8
18
Chris Brown
17
12
24
17
12
24
19
Rema & Selena Gomez
25
19
25
25
19
25
20
Morgan Wallen
23
5
41
23
5
41
21
Meghan Trainor
20
11
18
20
11
18
22
Taylor Swift
24
2
18
24
2
18
23
RAYE Featuring 070 Shake
26
22
12
26
22
12
24
Luke Combs
27
23
15
27
23
15
25
Metro Boomin, Future & Chris Brown
29
8
12
29
8
12
26
Zach Bryan
21
10
44
21
10
44
27
JVKE
19
10
26
19
10
26
28
Miguel
31
28
30
31
28
30
29
Lainey Wilson
34
29
15
34
29
15
30
Steve Lacy
28
1
34
28
1
34
31
Stephen Sanchez
32
23
34
32
23
34
32
SZA
30
11
17
30
11
17
33
SZA
33
29
11
33
29
11
34
Superstar Pride
99
34
2
99
34
2
35
Future Featuring Drake & Tems
36
1
40
36
1
40
36
Luke Combs
35
8
31
35
8
31
37
Post Malone Featuring Doja Cat
39
3
35
39
3
35
38
Luke Combs
15
15
2
15
15
2
39
Fuerza Regida X Grupo Frontera
42
25
9
42
25
9
40
Bizarrap & Shakira
40
9
6
40
9
6
41
HARDY Featuring Lainey Wilson
43
23
25
43
23
25
42
Cole Swindell
47
16
35
47
16
35
43
Zach Bryan Featuring Maggie Rogers
61
42
4
61
42
4
44
Jordan Davis
49
40
28
49
40
28
45
Lizzo
46
1
41
46
1
41
46
GloRilla & Cardi B
45
9
22
45
9
22
47
Lady Gaga
55
47
8
55
47
8
48
SZA
51
10
11
51
10
11
49
NEW
NF
-
49
1
-
49
1
50
Sia
50
28
28
50
28
28
51
NEW
Toosii
-
51
1
-
51
1
52
Rihanna
41
2
17
41
2
17
53
Carly Pearce
58
53
10
58
53
10
54
The Kid LAROI
53
40
4
53
40
4
55
Lizzo Featuring SZA
52
52
2
52
52
2
56
Carin Leon X Grupo Frontera
54
50
9
54
50
9
57
Drake & 21 Savage
64
5
16
64
5
16
58
Parker McCollum
60
58
8
60
58
8
59
Corey Kent
63
59
20
63
59
20
60
Morgan Wallen
59
37
12
59
37
12
61
Morgan Wallen
56
38
4
56
38
4
62
NEW
Lil Uzi Vert
-
62
1
-
62
1
63
NEW
Niall Horan
-
63
1
-
63
1
64
Lil Baby
65
59
21
65
59
21
65
SZA
62
17
11
62
17
11
66
Megan Moroney
57
53
11
57
53
11
67
Jordan Davis
96
67
5
96
67
5
68
Ice Spice
70
68
3
70
68
3
69
NEW
Polo G & Future
-
69
1
-
69
1
70
Gabito Ballesteros, Peso Pluma & Natanael Cano
66
66
5
66
66
5
71
Brett Young
72
63
7
72
63
7
72
Sabrina Carpenter
68
56
6
68
56
6
73
Tiesto Featuring Tate McRae
69
69
5
69
69
5
74
Linkin Park
38
38
2
38
38
2
75
NEW
Lizzy McAlpine
-
75
1
-
75
1
76
RE-
ENTRY
Metro Boomin, Travis Scott & Young Thug
-
42
3
-
42
3
77
Jason Aldean
78
77
7
78
77
7
78
d4vd
71
60
8
71
60
8
79
Peso Pluma X Natanael Cano
73
73
3
73
73
3
80
Morgan Wallen
67
51
4
67
51
4
81
Lil Baby Featuring Fridayy
86
8
7
86
8
7
82
Grupo Frontera
75
57
20
75
57
20
83
NEW
Latto Featuring LU KALA
-
83
1
-
83
1
84
Tory Lanez
77
63
8
77
63
8
85
Cody Johnson
88
84
6
88
84
6
86
Future
80
12
15
80
12
15
87
Tyler Hubbard
92
87
3
92
87
3
88
Ozuna Featuring Feid
85
85
4
85
85
4
89
NewJeans
76
74
6
76
74
6
90
Yandel & Feid
90
90
3
90
90
3
91
Karol G x Romeo Santos
79
56
3
79
56
3
92
Metro Boomin Featuring Don Toliver & Future
97
22
12
97
22
12
93
SZA
81
12
11
81
12
11
94
NEW
P!nk
-
94
1
-
94
1
95
NLE Choppa & 2Rare
87
85
5
87
85
5
96
NEW
NLE Choppa
-
96
1
-
96
1
97
Arcangel & Bad Bunny
82
68
10
82
68
10
98
Hotel Ugly
83
68
8
83
68
8
99
NEW
Dierks Bentley
-
99
1
-
99
1
100
Finesse2Tymes
94
86
5
94
86
5

In [103]:
url = 'https://www.billboard.com/charts/hot-100/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all li elements with class "o-chart-results-list__item"
list_items = soup.find_all('li', class_='o-chart-results-list__item')

# Create an empty list to store the rank numbers
rank_numbers = []

# Iterate over each li element and find the span element with class "c-label"
# which contains the rank number
for item in list_items:
    span = item.find('span', class_='c-label')
    if span is not None:
        text = span.get_text().strip()
        rank_numbers.append(text)

# Create a DataFrame with the rank numbers and print it
numbers = pd.DataFrame(rank_numbers, columns=['Rank'])
print(numbers)

            Rank
0              1
1    Miley Cyrus
2              1
3              1
4              6
..           ...
806           86
807            5
808           94
809           86
810            5

[811 rows x 1 columns]

In [104]:
numbers = numbers.drop([0])
print(numbers)

            Rank
1    Miley Cyrus
2              1
3              1
4              6
5              1
..           ...
806           86
807            5
808           94
809           86
810            5

[810 rows x 1 columns]

In [105]:
numbers = numbers[numbers['Rank'] != 'NEW']
print(numbers)

            Rank
1    Miley Cyrus
2              1
3              1
4              6
5              1
..           ...
806           86
807            5
808           94
809           86
810            5

[800 rows x 1 columns]

In [108]:
start = 0
end = 4
total_rows = len(numbers)

# crea un dataframe vacío para almacenar las filas conservadas
numbers_filtered = pd.DataFrame(columns=numbers.columns)

# mientras queden filas por procesar
while end <= total_rows:
    # agrega las filas a numbers_filtered
    numbers_filtered = pd.concat([numbers_filtered, numbers[start:end]], ignore_index=True)
    # actualiza los indices de inicio y fin
    start += 8
    end += 8

# agrega las últimas filas si no fueron suficientes para completar una serie de 8 filas
if start < total_rows:
    numbers_filtered = pd.concat([numbers_filtered, numbers[start:]], ignore_index=True)

# imprime el resultado
print(numbers_filtered)

              Rank
0      Miley Cyrus
1                1
2                1
3                6
4              SZA
..             ...
395             99
396            100
397  Finesse2Tymes
398             94
399             86

[400 rows x 1 columns]

In [109]:
numbers_filtered = numbers_filtered[~numbers_filtered['Rank'].str.startswith('RE-')]
numbers_filtered

              Rank
0      Miley Cyrus
1                1
2                1
3                6
4              SZA
..             ...
395             99
396            100
397  Finesse2Tymes
398             94
399             86

[399 rows x 1 columns]

In [110]:
numbers_filtered.loc[len(numbers_filtered)+1] = [5]
numbers_filtered

              Rank
0      Miley Cyrus
1                1
2                1
3                6
4              SZA
..             ...
396            100
397  Finesse2Tymes
398             94
399             86
400              5

[400 rows x 1 columns]

In [111]:
# Transpose 'Rank' column and create new data frame with 4 columns
new_df = pd.DataFrame(numbers_filtered['Rank'].values.reshape(-1, 4), columns=['Artist', 'LAST WEEK', 'PEAK POS.', 'WKS ON CHART'])

# Print the new data frame
new_df

                                  Artist LAST WEEK PEAK POS. WKS ON CHART
0                            Miley Cyrus         1         1            6
1                                    SZA         2         2           11
2             PinkPantheress & Ice Spice         4         3            3
3   Metro Boomin, The Weeknd & 21 Savage         3         3           12
4                          Morgan Wallen         5         3            4
..                                   ...       ...       ...          ...
95                            NLE Choppa         -        96           97
96                  Arcangel & Bad Bunny        82        68           98
97                            Hotel Ugly        83        68           99
98                        Dierks Bentley         -        99          100
99                         Finesse2Tymes        94        86            5

[100 rows x 4 columns]

In [117]:
canciones = canciones.reset_index(drop=True)
new_df = new_df.reset_index(drop=True)

df_final = pd.concat([canciones, new_df], axis=1)
df_final

,Title,Artist,LAST WEEK,PEAK POS.,WKS ON CHART
0,Flowers,Miley Cyrus,1,1,6
1,Kill Bill,SZA,2,2,11
2,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,4,3,3
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",3,3,12
4,Last Night,Morgan Wallen,5,3,4
...,...,...,...,...,...
95,Slut Me Out,NLE Choppa,-,96,97
96,La Jumpa,Arcangel & Bad Bunny,82,68,98
97,Shut Up My Moms Calling,Hotel Ugly,83,68,99
98,Gold,Dierks Bentley,-,99,100
99,Back End,Finesse2Tymes,94,86,5

In [118]:
df_final.to_csv('Songs_Data.csv', index=False)